<h1>Password Maker</h1>
<div>
  <label for="length-id">Enter Length:</label>
  <input
    id="length-id"
    type="text"
    (input)="onLengthInput($any($event.target).value)"
  />
</div>

<div>
  <label for="letters">Use letters:</label>
  <input
    (change)="onChangeLetters()"
    id="letters"
    type="checkbox"
    value="useLetters"
  />
</div>
<div>
  <label for="numbers">Use numbers:</label>
  <input
    (change)="onChangeNumbers()"
    id="numbers"
    type="checkbox"
    value="useNumbers"
  />
</div>
<div>
  <label for="symbols">Enter Symbols:</label>
  <input
    (change)="onChangeSymbols()"
    id="symbols"
    type="checkbox"
    value="useSymbols"
  />
</div>

<button (click)="onGenerateClick()">Generate!</button>

<div>
  <label for="your-password">Your Password:</label>
  <input id="your-password" type="text" [value]="myPassword" />
  <!-- ALternative: use interpolation value="{{ myPassword }}" -->
</div>
