<h2>Angular Pipes Playground</h2>
<div class="card">
  <h3>Text Case Fromatting</h3>
  <label>Customer Name : </label>
  <input (input)="onNameChange($any($event.target).value)" />
  <p>____Title Case : {{ customerName | titlecase }}</p>
  <p>UPPER CASE : {{ customerName | uppercase }}</p>
  <p>____lower case : {{ customerName | lowercase }}</p>
</div>
<div>---</div>

<div class="card">
  <h3>Date Fromatting</h3>
  <label>Transaction Date : </label>
  <input type="date" (input)="onDateChange($any($event.target).value)" />
  <p>Transaction Date by format :</p>
  <p>____short : {{ transactionDate | date: 'short' }}</p>
  <p>shortDate : {{ transactionDate | date: 'shortDate' }}</p>
  <p>__medium : {{ transactionDate | date: 'medium' }}</p>
  <a
    href="https://angular.io/api/common/DatePipe#pre-defined-format-options"
    target="_blank"
    >Link to Date format docs...</a
  >
</div>

<div>---</div>

<div class="card">
  <h3>Currency Fromatting</h3>
  <label>Transaction Payment Amount : </label>
  <input
    type="text"
    (input)="onPaymentAmountChange($any($event.target).value)"
  />
  <p>Transaction Currencies :</p>
  <p>USD : {{ transactionPayment | currency }}</p>
  <p>EUR : {{ transactionPayment | currency: 'JPY' }}</p>
  <p>YEN : {{ transactionPayment | currency: 'EUR' }}</p>
  <a
    href="https://angular.io/api/common/CurrencyPipe#parameters"
    target="_blank"
    >Link to Currency format docs...</a
  >
</div>

<div>---</div>

<div class="card">
  <h3>Custom Pipe : Unit Conversion</h3>
  <label>Enter distance in miles : </label>
  <input type="text" (input)="onMilesChange($any($event.target).value)" />
  <p>Converted distance is :</p>
  <p>KM : {{ convertedMiles | milesToMetric: 'km' }}</p>
  <p>Meters : {{ convertedMiles | milesToMetric: 'm' }}</p>
  <a
    href="https://angular.io/api/common/CurrencyPipe#parameters"
    target="_blank"
    >Link to Currency format docs...</a
  >
</div>
